<!-- details -->
<div class="col-3 offset-3">
    <h2 class="text-center">Details</h2>
    <div class="mb-3">
        <label class="form-label" for="barcode">Barcode</label>
        <h4><%= product.barcode %></h4>
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <h4><%= product.name %></h4>
    </div>
    <div class="mb-3">
        <label class="form-label" for="quantity">Quantity</label>
        <h4><%= product.quantity %></h4>
    </div>
</div>