<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Product</h1>
    <div class="col-6 offset-3">
        <form action="/products" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="barcode">Barcode</label>
                <input class="form-control" type="text" id="barcode" name="product[barcode]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="product[name]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="quantity">Quantity</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="quantity-label">#</span>
                    <input class="form-control" type="number" id="quantity" name="product[quantity]" required>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Add Product</button>
            </div>
        </form>
    </div>
</div>



